.section {
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 400px;
}

.container {
  border-radius: 1.5rem;
  background: linear-gradient(to bottom right, #0f172a, #1e293b, #064e3b);
  padding: 2rem;
  color: white;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  width: 100%;
}

.innerContainer {
  margin: 0 auto;
}

.header {
  margin-bottom: 2rem;
  text-align: center;
}

.title {
  font-size: 1.875rem;
  font-weight: 700;
  color: black;
  margin: 0;
  letter-spacing: -0.025em;
  margin-bottom: 2rem;
}

.error {
  margin-top: 1.5rem;
  padding: 0.75rem;
  background: rgba(254, 226, 226, 0.9);
  border: 1px solid #fecaca;
  border-radius: 0.375rem;
  color: #991b1b;
  text-align: center;
}